<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteSafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NoteSafe.Properties.Settings.Database_pwConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database_pw.mdf;Integrated Security=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <NoteSafe.Properties.Settings>
            <setting name="Database_location" serializeAs="String">
                <value>|DataDirectory|\Database_pw.mdf</value>
            </setting>
            <setting name="Database_username" serializeAs="String">
                <value />
            </setting>
            <setting name="Ui_show_username" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ui_show_password" serializeAs="String">
                <value>True</value>
            </setting>
        </NoteSafe.Properties.Settings>
    </userSettings>
</configuration>